#card-list {
    list-style: none;
    margin: 0;
    padding: 40px 0 0;
    font-family: sans-serif;
}

.dropdown-edit {
    position: relative;

    .dropdown-btn {
        background-color: #008080;
        color: #fff;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        position: relative;
        z-index: 2;
        border-radius: 10px;
    }

    .dropdown-list {
        transition: 0.25s;
        opacity: 0;
        transform: translateX(-50%) scale(0);
        position: absolute;
        top: -50px;
        left: 50%;
        right: 0;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        border-radius: 10px;
        overflow: hidden;

        &.show {
            opacity: 1;
            transform: translateX(-50%) scale(100%);
            top: 45px;
        }

        a {
            display: block;
            padding: 10px 15px;
            text-decoration: none;
            color: #333;
            transition: background-color 0.3s;

            &:hover {
                background-color: #5dd0d0;
                color: #fff;
            }
        }
    }
}



.card-visit {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 20px;
    border: 1px solid #F1F1F1;
    margin-bottom: 10px;
    padding: 30px 10px;
    background-color: #fff;
    transition: .25s;

    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &-body {
        display: none;

    }

    &-body-wrapper {
        padding-top: 1rem;
    }

    &-body * {
        color: #333;
    }

    &:hover {
        background-color: #F8F8F8;
    }

    & &-info-list {
        display: flex;
        flex-direction: column;


        &> :last-child {
            border-bottom: 1px solid teal;
            border-radius: 0 0 10px 10px;
        }

        & :nth-child(2) {
            border-radius: 10px 10px 0 0;
        }


    }

    & &-info {
        border: 1px solid teal;
        border-bottom: none;
        display: grid;
        grid-template-columns: 1fr 3fr;
        font-size: 12px;
        color: #999;



        & * {
            padding: 10px;
            font-size: 1rem;
        }

    }

    & &-text-holder {}

    & &-title {
        color: #333;
        font-size: 18px;
        font-weight: 700;
        margin: 0px;
        display: block;
        max-width: 420px;
        transition: .25s;

        &:hover {
            color: #008080;
        }
    }

    & &-desc {
        font-size: 1.5rem;
        font-weight: 500;
        text-transform: capitalize;
        color: teal;
        margin: 0;
    }

    & &-action {
        margin-left: auto;
        margin-right: 0;
        display: flex;
        gap: 20px;
    }

    & &-btn {
        background-color: #008080;
        color: #fff;
        padding: 8px 14px;
        border: none;
        cursor: pointer;
        font-size: 14px;
        border-radius: 10px;
        transition: .25s;
        opacity: 0.5;

        &.btn-del {
            background-color: #ec7575;
        }

        &.btn-more {
            background-color: #1f8fff;
        }

        &:hover {
            opacity: 1;
        }
    }
}

.card-visit-main-info {
    padding: 10px 0 20px 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    & div:first-child span {
        font-size: 1.5rem;
    }

    & div:last-child span {
        font-size: 1rem;
    }
}