.cards-filter {
    padding-top: 40px;

    &__header {
        margin-bottom: 15px;
        font-size: 24px;
        font-weight: 600;
        color: #035757;
    }
}

.form-filter {
    border-radius: 20px;
    border: 1px solid #F1F1F1;
    padding: 30px;
    background-color: #ddecec;

    &__wrapper {
        display: flex;
        column-gap: 50px;
    }

    &__headers {
        display: flex;
        flex-direction: column;

        &-input {
            width: 400px;
        }
    }

    &__label {
        margin-bottom: 0;
        color: teal;
        font-family: sans-serif;
    }

    &__input {
        padding: 10px 15px;
        border: 1px solid #008080;
        border-radius: 10px;

        &:focus {
            outline: none;
            box-shadow: 0px 0px 8px #bedcdc;
        }
    }

    &__urgency,
    &__status {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    &__select {
        padding: 10px 15px;
        border: 1px solid #008080;
        border-radius: 10px;
        background-color: #fff;
        color: #003838;
        outline: none;
        cursor: pointer;

        &:focus {
            outline: none;
            box-shadow: 0px 0px 8px #bedcdc;
        }

    }
}