* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hide {
    position: absolute !important;
    opacity: 0 !important;
    visibility: hidden !important;
    left: 10000px !important;
    pointer-events: none !important;
}


a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

input {
    padding: 0.5rem 0.75rem;
    outline: none;
    border: 1px solid #000;
    border-radius: 0.5rem;
}

.container {
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    padding: 0 5%;
}

.no-result {
    color: red;
}