header {
    padding: 1rem 0;
    background: teal;

    *:not(button) {
        color: #fff;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    button {
        background: #fff;
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
        text-transform: uppercase;
    }

}

.authModal {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    button {
        padding: 0.5rem;
        background-color: teal;
        color: #fff;
        border-radius: 0.25rem;
    }
}