.modal {
    display: none;
    position: fixed;
    z-index: 999;
    inset: 0;
    align-items: center;
    justify-content: center;

    &.active {
        display: flex;
    }

    &::before {
        content: "";
        inset: 0;
        position: absolute;
        z-index: -1;
        background-color: rgba(0, 0, 0, 0.4);
        display: block;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    &__close {
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
        font-size: 1.2rem;
        cursor: pointer;
        border: 1px solid red;
        height: 20px;
        width: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        background-color: red;
        line-height: 1;
        border-radius: 0.25rem;
    }

    &__body {
        background-color: #fff;
        padding: 2.5rem 2rem 2rem 2rem;
        border-radius: 0.25rem;
        cursor: auto;
        position: relative;
    }
}