.create-visit {
    position: absolute;
    margin: 0 auto;
    z-index: 999;
    top: 65px;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 420px;
    background: linear-gradient(to top, rgb(190, 204, 204), #f1e6e6);
    border-radius: 4px;
    border-top-right-radius: 40px;
    border: 2px solid teal;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.21);
  
    &__container {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  
    &__title {
      color: teal;
      font-size: 26px;
      text-align: center;
      margin: 0;
      padding-bottom: 20px;
    }
  
    &__form {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 370px;
      row-gap: 10px;
      color: teal;
    }
  
    &__doctor-type {
      width: 100%;
      border: 2px solid #5f9ea0;
      color: #23637f;
      outline: 0;
      box-shadow: 0 4px 8px rgba(33, 136, 171, 0.25);
      border-radius: 6px;
      height: 30px;
      padding: 4px;
    }
  
    &__doctors {
      display: flex;
      flex-direction: column;
      row-gap: 15px;
      width: 370px;
    }
  
    &__purpose,
    &__description,
    &__client-info {
      font-weight: 700;
      text-align: center;
    }
  
    &__purpose-input {
      width: 100%;
      border: 2px solid #5f9ea0;
      color: #23637f;
      outline: 0;
      box-shadow: 0 4px 8px rgba(33, 136, 171, 0.25);
      border-radius: 6px;
      height: 30px;
      padding: 4px;
  
      &:focus {
        border: 2px solid #23637f;
      }
    }
  
    &__priority {
      display: flex;
      justify-content: space-between;
      color: rgb(12, 49, 49);
    }
  
    &__urgency-select,
    &__status-select {
      border: 2px solid #5f9ea0;
      color: #23637f;
      outline: 0;
      box-shadow: 0 4px 8px rgba(33, 136, 171, 0.25);
      border-radius: 6px;
      height: 30px;
      padding: 4px;
    }
  
    &__client-info-input {
      width: 100%;
      border: 2px solid #5f9ea0;
      color: #23637f;
      outline: 0;
      box-shadow: 0 4px 8px rgba(33, 136, 171, 0.25);
      border-radius: 6px;
      height: 30px;
      padding: 4px;
  
      &:focus {
        border: 2px solid #23637f;
      }
    }
  
    &__button-submit {
      background: linear-gradient(to top, teal, #bb9e9e);
      padding: 0.5rem 1rem;
      border-radius: 0.25rem;
      color: whitesmoke;
      border: 2px solid #23637f;
      text-transform: uppercase;
      transition: 0.7s;
  
      &:hover {
        color: black;
      }
    }
  
    &__button-close {
      border: 2px solid #5f9ea0;
      color: rgb(236, 232, 225);
      border-radius: 50%;
      width: 30px;
      height: 30px;
      cursor: pointer;
      background-color: teal;
      position: absolute;
      font-size: 25px;
      top: 20px;
      right: 30px;
      transform: rotate(45deg);
      transition: all .5s ease;
  
      &:hover {
        background-color: rgb(18, 156, 156);
        transform: rotate(230deg);
      }
    }

    .create-visit__age-label,
    .create-visit__date-label,
    .create-visit__pressure-label,
    .create-visit__index-label,
    .create-visit__diseases-label {
      font-weight: 700;
      text-align: center;
      padding-right: 10px;
    }

    .create-visit__age-input,
    .create-visit__date-input,
    .create-visit__pressure-input,
    .create-visit__index-input,
    .create-visit__diseases-input {
      border: 2px solid #5f9ea0;
      color: #23637f;
      outline: 0;
      box-shadow: 0 4px 8px rgba(33, 136, 171, 0.25);
      border-radius: 6px;
      height: 30px;
      width: 28%;
      padding: 4px;
      margin-bottom: 10px;
    }

    .create-visit__diseases-input {
      width: 60%;
    }
  }

  .error {
    border-color: red !important;
}
